<!-- Hero principal -->
<section class="hero">
  <img src="hero.jpg" alt="Estudia activamente" class="hero-img" />
  <div class="hero-content">
    <h1>¡Estudia activamente y mejora cada día!</h1>
    <button mat-raised-button color="primary" [routerLink]="'/temas'">
      Empezar
    </button>
  </div>
</section>

<!-- Estadísticas del usuario -->
<section class="stats">
  <div class="stats-row scroll-x">
    <div class="chart-container">
      <div class="chart-title"><h1>Tus estadísticas</h1></div>
      <ngx-charts-bar-vertical-2d
        [results]="estadisticas"
        [scheme]="'flame'"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Período"
        yAxisLabel="Preguntas"
        [animations]="true"
      >
      </ngx-charts-bar-vertical-2d>
    </div>
  </div>
</section>
